.main {
  overflow-x: scroll;
}

.search_wrapper {
  display: flex;
  justify-content: right;

  .label {
    padding-inline: 5px;
    font-size: 1rem;
    line-height: 40px;
  }

  .search {
    height: 40px;
    width: 300px;
    padding: 6px 10px 4px;
    font-size: 1rem;
    border: 1px solid var(--primary);
    border-radius: 5px;
  }
}

.hide_cells {
  width: 100%;
  margin-top: 30px;
  min-height: 40px;
  overflow-x: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .btn {
    height: 30px;
    padding: 5px 10px;
    color: var(--on-primary);
    background-color: var(--primary);
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.table {
  margin: 10px 0;
  margin-bottom: 30px;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  border-spacing: 0;

  th,
  td {
    height: 50px;
    padding: 0 8px;
    vertical-align: top;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;

    p,
    a {
      margin-inline: auto;
      width: max-content;
      line-height: 50px;
    }

    a {
      color: var(--primary-dark);
    }

    .icon {
      margin: auto;
      width: 50px;
      display: block;
    }

    input {
      height: 46px;
    }

    .btn,
    .btn_outline {
      margin: 5px 0;
      width: max-content;
      font-size: 1rem;
    }

    .btn_outline {
      color: var(--primary);
      background-color: var(--on-primary);
    }
  }

  th {
    padding: 0 18px 0 8px;
    cursor: pointer;
    user-select: none;
    position: relative;

    &[data-close='true'] {
      table-layout: fixed;
      width: 10px;
    }

    &::before,
    &::after {
      content: '';
      height: 10px;
      width: 5px;
      background-color: var(--primary);
      opacity: 0.3;
      position: absolute;
      right: 5px;
    }

    &[data-sort='true'][data-asc='true']::before,
    &[data-sort='true'][data-asc='false']::after {
      opacity: 1;
    }

    &::before {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%, 50% 0%);
      top: 10px;
    }

    &::after {
      clip-path: polygon(50% 100%, 0% 0%, 100% 0%, 50% 100%);
      bottom: 15px;
    }

    &[data-sort='true'] {
      background-color: var(--background-dark);
    }
  }

  & tr:nth-child(odd) td {
    background-color: #f6f6f6;
  }
}
