.registration {
  .registration_section {
    margin-inline: auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: 200px 1fr;

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }

    .descript_wrapper {
      padding: 20px 10px;
      grid-column: 1/-1;
      text-align: center;
      position: relative;

      p {
        margin-left: 80px;
        width: fit-content;
        background-color: var(--on-primary);
        position: relative;
        z-index: 11;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 40px;
        right: 0;
        z-index: 10;
        border-bottom: 1px dashed var(--primary);
      }
    }

    .living_wrapper {
      display: flex;
      gap: 10px;

      @media (max-width: 700px) {
        justify-content: center;
      }

      .checkbox {
        margin-left: 10px;
        height: 50px;
        width: 1.3rem;
      }

      label {
        line-height: 50px;
        font-size: 1.1rem;
      }
    }
  }

  .buttons_section {
    margin: 30px 0;
    display: flex;
    max-width: 500px;
    margin-inline: auto;

    .next {
      margin-left: auto;
    }
  }
}

.wrapper {
  margin: 20px 0;
  min-height: 50px;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;

  & > div:last-of-type > p {
    line-height: 50px;
  }

  .title_container {
    height: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .title {
      width: 100%;
    }

    .supplement {
      font-size: 0.8rem;
      width: 100%;
    }
  }
}

.type_box {
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  display: none;

  &[data-active='true'] {
    display: grid;
  }
}
